<div class="chat-history">
  <div *ngIf="messages && messages.length>0">
    <div *ngFor="let message of messages">
      <mat-card class='card' [ngClass]="{'right-block': message._sender._id==me, 'left-block': message._sender._id!==me}">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-subtitle>{{message._sender.firstName}} {{message._sender.lastName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
              {{message.message}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="messages && messages.length==0">
    <p>Send the user your first message</p>
  </div>
</div>

<div class="bottom-container container">
  <textarea name="text" [(ngModel)]="message" class='full-width' placeholder="Write your message"></textarea>
  <button class="pull-right" mat-raised-button color="primary">
      <mat-icon aria-label="Send message by clicking here" (click)="sendMessage()">send</mat-icon>
  </button>
</div>
