<mat-card *ngIf='user'>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button mat-stroked-button (click)="addGoal()">Add Goals</button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>


<mat-list *ngFor='let goal of goals'>
  <mat-card>
    <h3 mat-subheader>{{goal.name}}</h3>
    <mat-list-item *ngFor="let milestone of goal.milestones">
      <mat-icon mat-list-icon>outlined_flag</mat-icon>
      <h4 mat-line>{{milestone.milestone}}</h4>
    </mat-list-item>
    <div class="mat-button-row">
      <button mat-stroked-button color="primary" (click)="editGoal(goal._id)">Edit Goal</button>
    </div>
  </mat-card>
  <mat-divider></mat-divider>
</mat-list>